*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
configs/production.yml
Capfile

# YARD artifacts
.yardoc
_yardoc
doc/

metahacker.me
