
!!!
%html
  %head
    %title Meta Hacker
    %link(rel="stylesheet" type="text/css" href="/css/markdown.css")
  %body
    %h1
      META HACKER
    %p
      %a(title="中文" href="/cn") 中文
      |
      %a(title="English" href="/en") English
      |
      %a(title="Me" href="/me") Me
      |
    %hr
    %div
      There will be code and articles here...
