!!!
%html
  %head
    %title Meta Hacker
    %link(rel="stylesheet" type="text/css" href="/css/markdown.css")
    %link(rel="stylesheet" type="text/css" href="/css/custom.css")
  %body
    %h1
      META HACKER
    %hr
    %div(id="avatar-block")
      %div(id="avatar")
        %img(src="http://en.gravatar.com/userimage/29356131/de8786d1911caefaa819f514edae7989.png?size=200")
      %div(id="avatar-info")
        %ul
          %li
            %a(href="http://www.brandsfever.com") Python Programmer
          %li
            %a(href="https://www.github.com/reterVision") Githuber
          %li
            %a(href="http://goo.gl/qY3clP") iOS Developer
          %li
            %a(href="http://reterwebber.wordpress.com/") Blogger
      %div(id="self-introduction")
        %p
          I am a web developer currently based in Singapore. I am interested in various kinds of web technologies,
          includes but not limited to Python, Django, Redis, MongoDB, Lua, Haskell, etc.
        %p
          If you got anything interesting to say to me, find me <a href="https://twitter.com/reterclose">@reterlcose</a> 
      %div(id="self-introduction-cn")
        %p
          我目前是一名全职的Python程序员，地标新加坡。我感兴趣的技术方向包括在以上英文的简介之中。
        %p
          如果你有兴趣与我探讨各种Web应用的技术实现和产品设计或是有创业idea想要寻求合作,
          可以随时在微博上找到我 <a href="http://www.weibo.com/gcweb/home">@喀咖咔</a>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44865130-1', 'metahacker.me');
    ga('send', 'pageview');
    </script>
